
body {
  background-image: url('wandljk_kl_png_V1.jpeg');
  background-size: cover;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#tvContainer {
  position: absolute;
  top: 55px;
  left: 20px;
  width: 960px;
  height: 1133px;
  overflow: hidden;
}

#gameCanvas {
  position: absolute;
  top: 110px; /* verticale centrering binnen 595px tv */
  left: 0;
  width: 960px;
  height: 1133px;
  z-index: 1;
}

#tvOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 1133px;
  z-index: 2;
  pointer-events: none;
}

#scoreDisplay {
  color: white;
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 18px;
}