
body {
  background-image: url('wandljk_kl_png_V1.jpeg');
  background-size: cover;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#tvContainer {
  position: relative;
  width: 575px;
  height: 375px;
  margin: auto;
  margin-top: 100px;
}

#gameCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 575px;
  height: 375px;
  z-index: 1;
}

#tvOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 575px;
  height: 375px;
  z-index: 2;
  pointer-events: none;
}

#scoreDisplay {
  color: white;
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 18px;
}
