
body {
  margin: 0;
  background: url('wandljk_kl_png_V1.jpeg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

#gameCanvas {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 645px;
  height: 600px;
  background-color: transparent;
  border: 3px solid "transparent"
}

#scoreDisplay {
  position: absolute;
  top: 72px;
  right: 110px;
  color: white;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

#loginContainer {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  font-family: Arial, sans-serif;
  color: white;
}
#playerName {
  background-color: #007BFF;
  color: white;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}
#playerNameDisplay {
  position: absolute;
  top: 30px;
  left: 1140px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 1000;
}
